header {
  height: 400px;
  padding-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6d1499;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  margin-top: 4em;
}